@model Gestao.Models.MovimentaEstoque

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da Movimentação.</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.Fornecedor.razaoSocial)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.Fornecedor.razaoSocial)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.datamovimentacao)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.datamovimentacao)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">  @Html.DisplayNameFor(model => model.tipoMovimentacao)</p> </div>
        <div class="col-md-4">  @Html.DisplayFor(model => model.tipoMovimentacao)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.nrDocumento)</p> </div>
        <div class="col-md-4">  @Html.DisplayFor(model => model.nrDocumento)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.totalMovimentacao)</p> </div>
        <div class="col-md-4">  @Html.DisplayFor(model => model.totalMovimentacao)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.valorFrete)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.valorFrete)</div>
    </div>

    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Editar ", "Edit", new { id = Model.idMovimentacao }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Voltar ", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
