@model Gestao.Models.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes Do Pedido</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayName("Cliente")</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.Cliente.Nome)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.dataPedido)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.dataPedido)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold"> @Html.DisplayNameFor(model => model.valorComissao)</p> </div>
        <div class="col-md-4">  @Html.DisplayFor(model => model.valorComissao)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.observacao)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.observacao)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.totalPedido)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.totalPedido)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.totalPago)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.totalPago)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.valorDevedor)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.valorDevedor)</div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Editar ", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Voltar ", "Index", null, new { @class = "btn btn-primary" })
    </div>
    }
</div>
