@model IEnumerable<Gestao.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Pedidos</h2>

<p>
    @Html.ActionLink("Novo Pedido", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table" id="grid-pedidos">
    <thead>
        <tr>
            <th data-column-id="nomeCliente">
                @Html.DisplayName("Cliente")
            </th>
            <th data-column-id="dataPedido" data-order="desc">
                @Html.DisplayNameFor(model => model.dataPedido)
            </th>
            <th data-column-id="totalPedido">
                @Html.DisplayNameFor(model => model.totalPedido)
            </th>
            <th data-column-id="totalPago">
                @Html.DisplayNameFor(model => model.totalPago)
            </th>
            <th data-column-id="valorDevedor">
                @Html.DisplayNameFor(model => model.valorDevedor)
            </th>
            <th data-column-id="observacao">
                @Html.DisplayNameFor(model => model.observacao)
            </th>
            <th data-formatter="acoes"></th>
        </tr>
    </thead>

</table>

@section scripts{

    <script type="text/javascript">
        var labels = {
            all: "Todos", infos: "Mostrando de {{ctx.start}} Até {{ctx.end}} De um total de {{ctx.total}} Valores",
            loading: "Carregando", noResults: "Nenhum Resultado Encontrado", refresh: "Recarregar", search:"Pesquisar"
        }

        $(document).ready(function () {

            $("#grid-pedidos").bootgrid({
                ajax: true,
                url:"@Url.Action("listarPedidos", "Pedidos")",
                labels: labels,
                formatters: {
                    "acoes": function (column, row) {
                        return "<a href='@Url.Action("Details", "Pedidos")/" + row.id + "' class = 'btn btn-warning'><span class='glyphicon glyphicon-list-alt'></span></a>" +
                               "<a href='@Url.Action("Edit", "Pedidos")/" + row.id + "' class = 'btn btn-info'><span class='glyphicon glyphicon-edit'></a>" +
                               "<a href='@Url.Action("Delete", "Pedidos")/" + row.id + "' class = 'btn btn-danger'><span class='glyphicon glyphicon-trash'></a>";
                    }
                }
            });

        })


        var mensagem2 = "@TempData["msg"]";

        if (mensagem2 != null) {
            if (mensagem2 == "Pedido Registrado com Sucesso" || mensagem2 == "Pedido Editado com Sucesso" || mensagem2 == "Pedido Removido com Sucesso") {
                toastr.success(mensagem2);
            }

            else if (mensagem2 == "Falha ao Registrar pedido" || mensagem2 == "Erro ao editar pedido" || mensagem2 == "Erro ao remover pedido") {
                toastr.error(mensagem2);
            }
    
        }


    </script>

}
