@model Gestao.Models.Login
@{
    ViewBag.Title = "Login";
}

<h2>Logar</h2>

@using (Html.BeginForm("Logar", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);


    if (ViewBag.message != null)
    {
        <script>
            alert("@ViewBag.message");
        </script>
    }

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.login)
            <div>
                @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.senha)
            <div>
                @Html.EditorFor(Model => Model.senha, new { htmlAttributes = new { @class = "form-control", @type = "password" } })

            </div>

        </div>
        <div class="form-group">
            <div>
                <input type="submit" value="Entrar" class="btn btn-primary" />
                @Html.ActionLink("Cadastrar", "Create", "Usuario", null, new { @class = "btn btn-default" })
                <input type="button" onclick="registraruser()" value="teste" class="btn btn-primary" />
            </div>
        </div>



    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        function registraruser() {
            const email = document.getElementById("login").value;
            const password = document.getElementById("senha").value;
            firebase.auth().createUserWithEmailAndPassword(email, password)
                .then(function (result) {
                    console.log(result.user.uid);
                })
                .catch(function (error) {
                    // Handle Errors here.
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    // ...
                    alert(errorMessage);
                });


        }
        function logar() {
            firebase.auth().signInWithEmailAndPassword(email, password).catch(function (error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // ...
                console.log(errorMessage);
            });
        }
        function deslogar() {
            firebase.auth().signOut().then(function () {
                // Sign-out successful.
            }).catch(function (error) {
                var errorCode = error.code;
                var errorMessage = error.message;
                console.log(errorMessage);
            });
        }


    </script>
}


