@model Gestao.Models.DuplicatasPagar

@{
    ViewBag.Title = "Delete";
}

<h2>Remover</h2>

<div>

    <hr />
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayName("Fornecedor")</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.Fornecedor.razaoSocial)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.observacao)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.observacao)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold"> @Html.DisplayNameFor(model => model.numeroDuplicata)</p> </div>
        <div class="col-md-4">  @Html.DisplayFor(model => model.numeroDuplicata)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.dataHemissao)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.dataHemissao)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.dataVencimento)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.dataVencimento)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.dataPagamento)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.dataPagamento)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.valorDuplicata)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.valorDuplicata)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.valorDesconto)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.valorDesconto)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.valorPago)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.valorPago)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.valorDevedor)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.valorDevedor)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.valorMulta)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.valorMulta)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.valorJurosPorDia)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.valorJurosPorDia)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.observacao)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.observacao)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.statusDuplicata)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.statusDuplicata)</div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="font-weight:bold">@Html.DisplayNameFor(model => model.nrDocumento)</p> </div>
        <div class="col-md-4"> @Html.DisplayFor(model => model.nrDocumento)</div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-primary" /> |
            @Html.ActionLink("Voltar", "Index",null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
