@model IEnumerable<Gestao.Models.DuplicatasPagar>

@{
    ViewBag.Title = "Index";
}

<h2>Duplicatas a Pagar</h2>

<p>
    @Html.ActionLink("Nova Duplicata", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table" id="duplicatasPagar">
    <thead>
        <tr>
            <th data-column-id="Fornecedor">
                @Html.DisplayName("Fornecedor")
            </th>
            <th data-column-id="numeroDuplicata">
                @Html.DisplayNameFor(model => model.numeroDuplicata)
            </th>
            <th data-column-id="dataHemissao" data-order="desc">
                @Html.DisplayNameFor(model => model.dataHemissao)
            </th>
            <th data-column-id="dataVencimento">
                @Html.DisplayNameFor(model => model.dataVencimento)
            </th>
            <th data-column-id="valorDuplicata">
                @Html.DisplayNameFor(model => model.valorDuplicata)
            </th>
            <th data-column-id="statusDuplicata">
                @Html.DisplayNameFor(model => model.statusDuplicata)
            </th>
            <th data-column-id="nrDocumento">
                @Html.DisplayNameFor(model => model.nrDocumento)
            </th>
            <th data-formatter="acoes"></th>
        </tr>
    </thead>
    

</table>

@section Scripts {
    <script>

        var labels = {
            all: "Todos", infos: "Mostrando de {{ctx.start}} Até {{ctx.end}} De um total de {{ctx.total}} Valores",
            loading: "Carregando", noResults: "Nenhum Resultado Encontrado", refresh: "Recarregar", search:"Pesquisar"
        }

        $(document).ready(function () {

            $("#duplicatasPagar").bootgrid({
                ajax: true,
                url:"@Url.Action("listarDuplicatas", "DuplicatasPagar")",
                labels: labels,
                formatters: {
                    "acoes": function (column, row) {
                        return "<a href='@Url.Action("Details", "DuplicatasPagar")/" + row.id + "' class = 'btn btn-warning'><span class='glyphicon glyphicon-list-alt'></span></a>" +
                            "<a href='@Url.Action("Edit", "DuplicatasPagar")/" + row.id + "' class = 'btn btn-info'><span class='glyphicon glyphicon-edit'></a>" +
                            "<a href='@Url.Action("Delete", "DuplicatasPagar")/" + row.id + "' class = 'btn btn-danger'><span class='glyphicon glyphicon-trash'></a>";
                    }
                }
            });

        })

        var mensagem = "@TempData["msgsucesso"]";

        if (mensagem != null && mensagem != "") {
            toastr.success(mensagem);

        }
    </script>
}
