@model Gestao.Models.DuplicatasReceber

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DuplicatasReceber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pedido.observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroDuplicata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroDuplicata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataHemissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataHemissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataVencimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataVencimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorDuplicata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorDuplicata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorDesconto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorDesconto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorDevedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorDevedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorMulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorMulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorJurosPorDia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorJurosPorDia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statusDuplicata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusDuplicata)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDuplicataReceber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
